.tack-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 60px;
  background-color: rgba(133, 210, 255, 0.448);
}

.socials{
    display: flex;
    gap: 10px;
}
 .social-links{
    display: flex;
    gap: 10px;
 }

 .footer-links{
    display: flex;
    gap: 25px;
 }

 .footer-links a, .social-links a{
    text-decoration: none;
    color: #003d9b;
    transition: all 0.5s;
 }


 .footer-links a:hover, .social-links a:hover{
    transition: all 0.5s;
    color: #f36b01;
 }

 .subscribe{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    align-self: center;
    margin: auto;
    padding: 8px;
 }

 .subscribe-right-form{
    gap: 10px;
 }
 .subscribe-left{
    display: flex;
    align-items: center;
 }

 .subscribe-email-input{
    padding: 10.5px 20px;
  border: 1px solid black;
  border-radius: 8px;
 }

 .subscribe-btn{
    padding: 12px 26px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(135deg, #0259b0, #0042a3);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(255, 106, 0, 0.35);
 }